*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
   overflow:hidden;
}
.user,.highscore-window{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100vh;
    background-color:rgb(66, 0, 73);
    color:white;
    font-weight:bold;
    font-size:64px;
    gap:30px;
}
#nick{
    width:min(90vw,320px);
    padding:10px;
    border-radius:20px;
    transition:all 0.8s ease-in-out;
}
.startButton,.startAgainButton{
    padding:10px;
    border-radius:20px;
    width:200px;
    text-transform: uppercase;
    font-weight:bold;
    color:rgb(66, 0, 73);
    transition:all 0.4s ease-in;
    cursor:pointer;
}

.startButton:hover,.startAgainButton:hover{
   color:white;
   background:black;
}
#nick:valid{
    border: none;
    outline:none;
    color:rgb(0, 127, 0);
    -webkit-box-shadow: 0px 0px 5px 3px rgb(0, 156, 0);
-moz-box-shadow: 0px 0px 5px 3px rgb(0, 156, 0);
box-shadow: 0px 0px 5px 3px rgb(0, 156, 0);

}

#nick:invalid{  
    color:rgb(154, 0, 0);
    outline:none;
    border:none;
    -webkit-box-shadow: 0px 0px 5px 3px rgb(154, 0, 0);
-moz-box-shadow: 0px 0px 5px 3px rgb(154, 0, 0);
box-shadow: 0px 0px 5px 3px rgb(154, 0, 0);

}

.desc {
    list-style-type: none;
    font-size:15px;
}
.desc> li{
    line-height:20px;
}
.highscore-window{
    justify-content:flex-start;
    display:none;
    height:100vh;
    overflow-y:scroll;
}
.highscore-window > h1{
    margin-top:20px;
    font-size:35px;
}
.highscore-window > h2{
    font-size:28px;
}
.leaders-container{
    border:2px solid white;
    padding:20px;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:20px
}
.new-user{
    font-weight:bold;
    color:white;
    font-size:14px;
}

.board{
    display:none;
    position:relative;
    background-image:url('images/board-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    min-height:800px;
    overflow:hidden;
}

.score{
    position:fixed;
    right:40px;
    top:10px;
    color:white;
    font-size:64px;
    font-weight:bold;
}

.yourNick{
    color:white;
    font-size:30px;
    position:fixed;
    top:10px;
    left:50%;
    
    z-index:5;
}
.zombie{
    position:absolute;
    background-image:url('images/walkingdead.png');
    background-size:cover;
    background-position-x:0;
    height:312px;
    width:200px;  
    scale: 1;
}


.circl{
pointer-events: none;
position:absolute;
width:100px;
height:100px;
border-radius:50%;
border:4px solid white;
transform:translate(-50%,-50%);
background:rgba(255, 255, 255, 0.219);
z-index:999;
left:-300px;
}

.targ{
    pointer-events: none;
    border-radius:50%;
    position:absolute;
    width:10px;
    height:10px;
    color:red;
    background:red;
    transform:translate(-50%,-50%);
    z-index:999;
    left:-300px;
}

.health-container{
    position:fixed;
    top:20px;
    left:10px;
    font-size:30px;
    color:rgb(255, 255, 255);
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

.heart-icon {
    width: 4rem;
    height:  4rem;
    
    background:transparent;
    
  }
  

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9d5aaf #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9d5aaf;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }



/* Add responsive styles */
@media (max-width: 1024px) {
    .score {
        font-size: 48px;
        right: 20px;
        top: 5px;
    }

    .yourNick {
        font-size: 24px;
        top: 5px;
       
    }

    .health-container {
        top: 10px;
        left: 10px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .score {
        font-size: 36px;
        
        top: calc(6px + 2rem + 4rem + 2rem);
        left:5px;
    }

    .yourNick {
        font-size: 18px;
        top: calc(6px + 2rem + 4rem);
        left:0vw;
        text-align:left;
      left:5px;
    }

    .health-container {
        top: 5px;
        left: 5px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .score {
        font-size: 24px;
        right: 5px;
        
    }

    .yourNick {
        font-size: 14px;
     
    }

    .health-container {
       
        left: 2px;
        font-size: 14px;
    }
}
